html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  background-color:#5C8374;
  /* rgb(57, 70, 59) */
  color: rgb(238, 238, 238);
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}


h1, h2, h3, footer {
  font-family: Orbitron;
  font-weight: 700;
  color: rgb(238, 238, 238);
  text-align: center;
}

.about {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
}

#favourites {
  margin: 50px auto;
  text-align: center;
}

#favourites ol {
  padding-left: 1rem;
  padding-right:0.1rem;
  text-align: left;
  margin:5px auto
}

.imgGrid {
  display: grid;
  margin: 0 auto;
  width: 65%;
  grid-template: repeat(2,50%) / repeat(2,50%);
  text-align: center;
  align-items: center;
  aspect-ratio: 16/9;
  gap: 2% 2%;
}

.image {
  width: 100%;
  border-radius: 15px;
  border: 5px solid black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  margin: 25px auto;
  text-align: center;
}

.main h1 {
  margin-bottom: 5px;
}

.main p{
  text-align: center;
  font-size: 0.6rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.grid {
  position: relative;
  display: grid;
  margin: 0 auto;
  width: 55%;
  aspect-ratio: 4/3;
  grid-template: repeat(5,20%) / repeat(5,20%);
  gap: 2px 2px;
  align-content: space-between;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: darkslategray;
  color: rgb(238, 238, 238);
  border: 5px solid black;
  border-radius: 15px;
  font-family: "Rubik", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1px;
  text-align:center;
  padding: 0.2rem;
}

#rgc-title {
  margin-bottom: 15px;
}

table, th, td {
  margin: 0;
  text-align: center;
  border-collapse: collapse;
  padding: 2px;
}

table {
  width: 100%;
  text-align: center;
}



th {
  background-color: seagreen;
  width: 25%; 
}

td {
  background-color:  darkslategray; 
}





#rgc {
  width: 55%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 15px;
  border: 5px solid black;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

table td, table th {
    border: 5px solid black;
}


.fullList {
  width: 70%;
  margin: 50px auto;
  margin-bottom: 25px;

}

.fullList p {
  text-align: center;
}

.whole {
  display: flex;
  border: 5px solid black;
  border-radius: 15px;
  overflow: hidden;
}

.half-list {
  width: 50%;
  margin-top: 0;
  z-index: -1;
}

.list-group-item {
  background-color: darkslategray;
  color:rgb(238, 238, 238);
  font-family: "Rubik", sans-serif;
  height:50px;
  overflow: hidden;
  display: flex;
  
}

.tropeForm {
  text-align: center;
  background-color: darkslategray;
  color: rgb(238, 238, 238);
  border-radius: 20px;
  width: 70%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  margin-bottom: 50px;
  border: 5px solid black;
  border-radius: 15px;
  overflow: hidden;
}

.submit {
  border: 5px black solid;
  background-color: seagreen;
  color: rgb(238, 238, 238);
  font-weight: 500;
  border-radius: 5px;
}

footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: darkslategray;
  color: rgb(238, 238, 238);
  display: block;
  justify-content: center;
  font-family: Orbitron;
  border-top: 5px solid black;
}

footer p {
  padding-top: 10px;
  margin: 0;
}

.logo {
  height: 29px;
  aspect-ratio: 1;
}

@media only screen and ((max-width: 1200px)) {
  .image, .box, #rgc,table td, table th, .whole, .tropeForm, #send {
    border: solid 2px black;
  }
  footer {
    border-top: solid 2px black;
  }

   .about, #rgc, .fullList, .tropeForm, .grid {
    width: 95%;
  }
  .imgGrid {
    display: grid;
    margin: 0 auto;
    width: 75%;
    grid-template: unset;
    grid-template-rows: repeat(4,25%);
    text-align: center;
    align-items: center;
    aspect-ratio: auto;
    gap: 0.5%;
  }

  .box {
    aspect-ratio: 1;

  }
  .grid {
    aspect-ratio: 1;
    right:4px;
  }

  #rgc {
    font-size: 0.8rem;
  }
  
  #favourites {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
  }

  .description {
    margin : 15px 0;
    font-size: 0.8rem;
  }

  .half-list {
  width: 50%;
  margin-top: 0;
}

  .list-group-item {
    font-size: 0.8rem;
  }
}

@media only screen and ((max-width: 600px)) {
  .box {
    font-size: 0.55rem;
  }
}

@media only screen and ((max-width: 500px)) {
  .box {
    font-size: 0.5rem;
  }
}

@media only screen and ((max-width: 350px)) {
  .box {
    font-size: 0.4rem;
  }
}